.home {
  &__container {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__error {
    text-align: center;
    font-size: 1.2rem;
    color: #ff0000;
  }

  &__cards {
    margin-bottom: 30px;
  }
}

.search-form {
  &__block {
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
