.home {
  &__container {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__error {
    text-align: center;
    font-size: 1.2rem;
    color: #ff0000;
  }

  &__cards {
    margin-bottom: 30px;
  }
}
