.uploadphoto {
  &__input {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
  }

  &__validation {
    margin-top: 5px;
    color: #ff0000;
  }
}
