.registercard {
  position: relative;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1.1rem;

  &__pic {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    outline: 1px solid #000000;
    outline-offset: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

  &__gender {
    font-size: 1.5rem;
    position: absolute;
    top: 20px;

    &_is_female {
      color: #f145cb;
    }

    &_is_male {
      color: #2196f3;
    }
  }

  &__news {
    color: rgb(149, 8, 237);
    font-size: 1.5rem;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__name {
    font-size: 1.3rem;
    margin-top: 20px;
    font-weight: bold;
  }

  &__email {
    margin-top: 10px;
    font-style: italic;
  }

  &__birthday {
    margin-top: 10px;
  }

  &__address {
    margin-top: 10px;
  }
}
