.form-register {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 441px) {
    grid-template-columns: 1fr;
  }

  &__row {
    grid-column: span 2;

    @media screen and (max-width: 441px) {
      grid-column: span 1;
    }
  }
}
