.notification {
  position: fixed;
  width: 240px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  padding: 30px 20px;
  background-color: rgba(62, 96, 1, 0.728);
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  animation: notification-window 3s;
  opacity: 0;
}

@keyframes notification-window {
  0% {
    opacity: 0;
  }

  20%,
  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
