:root {
  font-size: 1em;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.3rem;
  background-color: #5d5c65;

  &__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;

    &:hover {
      color: #e2f1a0;
    }

    &:active {
      color: #d1ff02;
    }

    &_is_chosen {
      background-color: #cbcbcb6a;
      color: #d1ff02;
    }
  }
}

.about {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;

  &__text {
    text-align: center;
    line-height: 1.4;
  }

  &__link {
    color: #aa00ff;
    font-size: 1.5rem;
    transition: 0.3s;

    &:hover {
      color: #160ff3;
      transform: scale(1.5);
    }
  }
}

.page404 {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #db0707;
  font-weight: bold;
}
