.search-form {
  &__block {
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
