.pagination {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &__prev-btn,
  &__next-btn {
    width: 40px;
    height: 40px;
    border: 1px solid #0e587f;
    background-color: #ffffff;
    font-size: 1.7rem;
    color: #0e587f;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }

    &:disabled {
      color: #81b9d7;
      cursor: default;
      box-shadow: none;
    }

    svg {
      display: block;
    }
  }
}
