.switcher {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switcher__track {
      background-color: #2196f3;
    }

    &:checked + .switcher__track .switcher__slider {
      transform: translateX(26px);
    }

    &:focus + .switcher__track {
      box-shadow: 3px 3px 3px rgba(159, 33, 243, 0.5);
    }
  }

  &__track {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f145cb;
    transition: 0.3s;

    &::before {
      position: absolute;
      content: 'M';
      color: #ffffff;
      left: 5px;
      top: 4px;
      font-weight: bold;
      font-size: 1.3rem;
    }

    &::after {
      position: absolute;
      content: 'F';
      color: #ffffff;
      right: 10px;
      top: 4px;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

  &__slider {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.3s;
    z-index: 1;
  }
}
