.header {
  padding: 5px 0;
  background-color: #5d5c65;

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.3rem;
  }

  &__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;

    &:hover {
      color: #e2f1a0;
    }

    &:active {
      color: #d1ff02;
    }

    &_is_chosen {
      background-color: #cbcbcb6a;
      color: #d1ff02;
    }

    &_margin_top {
      margin-top: 5px;
    }

    &_is_hidden {
      display: none;
    }
  }
}
